body{
	font-family: raleway;
}
.nopaddingPanel {
    padding: 0 !important;
    margin: 0 !important;
    text-align: 0 !important;
    text-align: left;
}
.logonav {
  width: 128px;
  height: 37px;
}
.navbar{
	padding-left: 76px;
	padding-right: 76px;
	padding-top: 15px;
	padding-bottom: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(41,41,41,0.31);
-moz-box-shadow: 0px 0px 10px 0px rgba(41,41,41,0.31);
box-shadow: 0px 0px 10px 0px rgba(41,41,41,0.31);
}
.searchform{
  width: 366px!important;
  height: 44px;
  border-radius: 3px;
  background-color: #ededed;
  margin-right: -4em;
}
.searchform2{
  height: 44px;
  border-radius: 3px;
  background-color: #ededed;
  margin-right: -4em;
}
.btnsearch{
  width: 53px;
  height: 31px;
  border-radius: 4px;
  background-color: #fd3d3d;
  font-size: 12px;
  font-weight: bold;
}
.btn-outline-red{
  border-radius: 4px;
  border: solid 1px #fd3d3d;
  background-color: #ffffff;
}
.btn-red{
  border-radius: 4px;
  background-color: #fd3d3d;

}
.nav-item{
  font-family: Raleway !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  text-align: left !important;
  color: #303030 !important;
}
.pencarian-cepat{
  position: absolute;
  width: 70%;
  height: 137px;
  margin-top: -6em;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  left: 15%;
  padding: 1em;
  margin-bottom: 6em;
}
.judulpencariancepat{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #4D4D4D;
}
.caricepatkategori{

}
.caricepatwilayah{

}
.caricepatharga{

}
.tabfilter-produk-home{
  margin-top: 7em !important;
}

hr.underline{
  border-top: 1px solid;
  z-index: 999999!important;
  width: 50%;
}
.nav-link{
  color: #303030 !important;
}
.nav-links:hover{
  color: #fd3d3d!important;
  font-size: 20px!important;
}
.grid-product{
  width: 70%;
  left: 15%;
  margin-bottom: 4em;
  z-index: 999999!important;
}
.card-product{
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  transition: 0.3s;
  width: 100%;
  border-radius: 2px;
  padding-bottom: .1em;
  background-color: #FFFFFF;
}
.card-product:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.img-product{
  border-radius: 2px 2px 2px 2px;
  margin-bottom: 1em;
}
.card-product .namaproduk{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #303030;
}
.card-product .hargaproduk{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  /* or 162% */
  color:#fd3d3d;
  margin-top: -1em;
}
.card-product .tahunkeluar{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #939393;
  margin-top: -1em;
}
.card-product .dealer{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #4D4D4D;
}
.title-produk{
  margin-bottom: 1.5em;
}
.title-head{
  font-weight: 600!important;
}
.title-tail{
  font-weight: 900!important;
  color: #FD3D3D;
}
.title-tail2{
  font-weight: 900!important;
  color: #FD3D3D;
  font-size: 72px;
}
.kenapa-motormu{
  margin-top: 5em;
}
.content{
  background-image: url('../img/bg.svg');
  background-size: cover;
  padding-left: 76px;
  padding-right: 76px;
  background-position: bottom;
  background-repeat: no-repeat;
}
.keuntungan{
  width: 318px;
  height: 68px;
  background: linear-gradient(90deg, #FD3D3D 10.85%, #FF9999 101.57%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 9px;
  vertical-align: middle;
}
.item-keuntungan{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  color: #FFFFFF;
  padding-top: 16px;
}
.iconkeuntungan{
  height: 45px;
  width: 45px;
  vertical-align: middle;
}
.langkah-pembelian{
  margin-top: 10em;
}
.title-langkah{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  text-align: center;

  color: #4D4D4D;
}
.deskripsi-langkah{
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-align: center;

  color: #000000;
}
.gbrlangkah{
  height: 160px;
  width: 232px;
  margin-bottom: 3em;
}
.upperfooter{
  padding-top: 3em;
  padding-bottom: 3em;
  color: #ffffff;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.9), 
      rgba(0, 0, 0, 0.9)
    ),
    /* bottom, image */
    url('../img/bgfooter.svg');
}
.lowerfooter{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #fd3d3d;
  text-align: center;
  color: #ffffff;
}
.logobawah{
  margin-top: -5em;
}
.about-us{
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  /* or 125% */
  color: #FFFFFF;
}
.bannermotor{
  margin-top: 7em;
  margin-bottom: 3em;
}
.filtersidebar{
  margin-bottom: 7em;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
}
.filtersidebarheader{
  background-color: #303030;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  text-align: center;
  height: 47px;
}
.filtertitle{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  color: #4D4D4D;
}
.btn-filter{
  width: 100%;
}
.hrproduk{
  margin-top: 2em;
  margin-bottom: 2em;
  border-top: 1px solid #fd3d3d;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #fd3d3d;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    border: 1px solid #BEBEBE;
    box-sizing: border-box;
    padding: 1em;
    font-size: 12px;
}
.custom-control-label:before{
  background-color:#EDEDED;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:#fd3d3d;
}
.detailmotor{
  margin-top: 7em;
  margin-bottom: 3em;
}
.content-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

#featured{
  width: 100%;
  max-height: 80%;
  object-fit: cover;
  cursor: pointer;
  /*border: 2px solid black;*/

}

.thumbnail{
  object-fit: cover;
  max-width: 180px;
  max-height: 70px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  /*border: 2px solid black;*/

}

.thumbnail:hover{
  opacity:1;
}

.active{
  opacity: 1;
}

#slide-wrapper{
  max-width: 100% ;
  display: flex;
  min-height: 100px;
  align-items: center;
}

#slider{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

}

#slider::-webkit-scrollbar {
    width: 100%;

}

#slider::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}
 
#slider::-webkit-scrollbar-thumb {
  background-color: #fd3d3d;
  border-radius: 100px;

}

#slider::-webkit-scrollbar-thumb:hover{
    background-color: #18b5ce;
}

.arrow{
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s;
}

.arrow:hover{
  opacity: .5;
  width: 35px;
  height: 35px;
}
.card-detail{
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 2em;
}
.space-iklan{
  width: 100%;
}
.detail-title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  color: #000000;
}
.detail-price{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  color: #FD3D3D;
}
.desc{
  margin-bottom: 4em;
}
.desc-title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.desc-card{
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  max-width: 100%;
}
.borderless td, .borderless th {
    border: none;
}
.listdealer{
  margin-top: 2em;
  height: 500px;
  max-height: 500px;
  overflow-x: hidden;
  padding: 1em;
  font-size: 12px;
  margin-bottom: 1em;
}
.carddealer{
  background: #FFFFFF;
  /*box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);*/
  border-radius: 8px;
  padding: 0.5em 0.5em 0.5em 0.5em;
  height: auto;
  margin-top: 1em;
  color: black;
  text-align: left !important;
}
.carddealer:hover{
  color: black;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
}
.fotodealer{
  width: 100%;
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate-name {
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.detaildealer{
  margin-top: 7em;
  width: 100%;
  background: rgb(237,237,237);
  background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(254,254,254,1) 34%, rgba(247,247,247,1) 100%);
  height: auto;
  padding:1em;
  border-radius: 5px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
}
.pill-nav a {
  display: inline-block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 23px;
  background: rgba(255, 255, 255, 0.72);
  border: 1px solid #FD3D3D;
  box-sizing: border-box;
  border-radius: 23px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #FD3D3D;
}

.pill-nav a:hover {
  background: rgba(253, 61, 61, 0.2);
  color: #FD3D3D;
}

.pill-nav a.active {
  background: rgba(253, 61, 61, 0.72);
  /*border: 1px solid #FD3D3D;*/
  box-sizing: border-box;
  border-radius: 23px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */
  color: #FFFFFF;
}
.pill-nav a.active:hover{
  color: white;
}
.listproduksaya{
  padding: 2em;
  margin-bottom: 1em;
  margin-top:1em;
}
.cardproduksaya{
  background: #FFFFFF;
  /*box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);*/
  height: auto;
  text-align: left !important;
  color: black;
}
.cardproduksaya:hover{
  color: black;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
}
.namaprodukcard{
  color:dark-grey;
  font-size:14pt;
  line-height: 14pt;
  font-weight:600;
}
.hargaprodukcard{
 font-family: Raleway;
 font-size:17pt;
 line-height: 17pt;
 font-weight:800;
/* or 109% */
 color: #FD3D3D;
}
.dropdown-menu{
  padding-left: 1em;
}
.dropdown-menu a{
  color: black;
  font-style: normal;
  font-size: 13px;
}
.dropdown-menu a:hover{
  color: #FD3D3D;
}
.cardformmotor{
  background: #FFFFFF;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: auto;
  padding: 2em;
}
.box {
  position: relative;
  background: #ffffff;
  width: 100%;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}
.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  width: 104px;
  height: 106px;
}
.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 90%;
  top: 25%;
  font-size: 12px;
}
.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 104px;
  height: 104px;
  cursor: pointer;
  opacity: 0;
}
.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}
.preview-zone {
  text-align: center;
}
.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}
label{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 14px !important;
  /* identical to box height */


  color: #303030;
}
.dropdown-header-name{
  padding-left: 1em !important;
  margin: .1em !important;
  text-align: 0 !important;
  text-align: left;
}